.navbar{
    background-color:#EEEEE4;
    color: black;
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(3, 3, 3);
}
.navbarLink {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.navbarLink a{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-size: 1.5rem;       
    padding: 0 0.5rem;
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid rgb(255, 65, 7);
    border-right: 1px solid rgb(255, 65, 7);  
}

.navbarLink a:hover{
    color: rgb(255, 65, 7);       
    top: -1px;
    left: -1px;
    border-top: 3px solid  rgb(255, 65, 7);
    border-left: 3px solid  rgb(255, 65, 7);
}

.headName {
    text-transform: uppercase;
}
/* make it responsive */

@media screen and (max-width: 768px){
    .navbarLink a{
        margin: 10px 0;
    }
    .headName{
        width: 50%;
    }
}

@media screen and (max-width: 480px){
    .navbarLink a{
        margin: 10px 0;
    }
}